<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poc.flickrdisplay" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.poc.flickrdisplay.app.FlickrDisplayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_photo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.poc.flickrdisplay.views.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.poc.flickrdisplay.views.ImageDetailsActivity"
            android:screenOrientation="sensor"/>
    </application>
</manifest>
